
Django
django-adaptors
django-azure-sql-backend
django-cors-headers
django-extensions
django-filter
django-mssql
django-mssql-azure-backend
django-mssql-backend
django-mssql-backend-azure
django-mysql
django-pymssql
djangorestframework
idna
msal
Pillow
pycparser
PyJWT
pymssql
pyodbc
requests
urllib3
django-cors-headers
